{% extends "theme_base.html" %}
{% load staticfiles %}

{% block extra_head_base %}
    {% block extra_head %}
    <script src="{% static 'inputstats/js/d3.v3.js' %}"></script>
    {% endblock %}
{% endblock %}

{% block body %}
	

<h1>{{ game.variation }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'inputstats:vote' game.id %}" method="post">
{% csrf_token %}
{% for player in game.player_set.all %}
    <input type="test" name="player" id="player{{ forloop.counter }}" value="{{ player.standing }}" />
    <label for="player{{ forloop.counter }}">{{ player.first_name }}</label><br />
{% endfor %}
<input type="submit" value="Save Standings" />
</form>
    
{% endblock %}
