{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block head_title %}{% trans "Variations" %}{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'inputstats/style.css' %}" />

{% block body %}
    <div class="hero-unit">
    {% block banner %}
        <h1>Add A Variation</h1>
        <p>Please don't add anything stupid.</p>

    {% endblock %}
    </div>
    {% if user.is_authenticated %}
		<form action="" method="post">
		{% csrf_token %}
		<div class="row">
			<div class="span12">
				<p><input type="text" name="name" value="Variation Name"></p>
				<p><textarea style="resize:none; width:99%" rows="10" name="description" >Add the description here...</textarea></p>
				<input class="btn btn-primary" type="submit" value="Save" />
			</div>
		</div>
		</form>
    {% endif %}
{% endblock %}
