{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
 	<img src="{{STATIC_URL}}black_logo.png" style="width:100px;" align="left" alt="logo" />
    <h1>{% trans "&nbsp;Panda Poker" %}</h1>
     
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Welcome to the site where poker players are separated from gamblers.</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}&nbsp;&nbsp;&nbsp;&nbsp;You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a>{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}&nbsp;&nbsp;&nbsp;&nbsp;You can <a href="{{ login_url }}" class="btn primary large">Log In</a>{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
{% endblock %}
